---
---
<div class="grid grid-cols-3 cols-span-1 max-h-[15%] gap-x-1">
  <div class="w-full items-center text-foreground bg-card shadow-card/40 h-full justify-center gap-1 flex flex-col p-5 rounded-3xl shadow-md">
    <span>Up to</span>
    <span class="text-4xl font-bold bg-gradient-to-r from-[#D4597C] via-[#D18767] to-[#E4AC65] bg-clip-text text-transparent">
      8TB
    </span>
    <span>storage</span>
  </div>

  <div class="w-full items-center text-foreground bg-card shadow-card/40 h-full justify-center gap-1 flex flex-col p-5 rounded-3xl">
    <img class="object-cover h-full w-full" src="/fingerprint.png" alt="Touch ID" />
    <span>Touch ID</span>
  </div>

  <div class="w-full items-center text-foreground bg-card shadow-card/40 h-full justify-center gap-1 flex flex-col p-5 rounded-3xl">
    <img class="object-cover h-full w-full" src="/wifi.png" alt="Wi-Fi 6" />
    <span>Wi-Fi 6</span>
  </div>
</div>
