---
---
<div class="w-full overflow-hidden h-[20%] text-foreground bg-card shadow-card/40 items-center justify-center text-xl font-bold gap-3 flex rounded-[25px] shadow-md">
  <img class="object-cover h-full w-full" src="/airdrop.png" alt="" />
</div>
