---
---
<div class="w-full overflow-hidden items-center text-foreground bg-card shadow-card/40 h-[15%] justify-center text-xl font-bold flex rounded-[25px] shadow-md">
  <img
    class="object-cover h-full w-full"
    src="https://m.media-amazon.com/images/I/51FZEi1x8hL.jpg"
    alt="Product Image"
  />
</div>
