---
---
<div class="w-full overflow-hidden items-center text-foreground bg-card shadow-card/40 h-[25%] justify-center text-xl font-bold flex rounded-[25px] shadow-md">
  <img
    class="object-cover h-full w-full"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFLmrXbQllas9iO6fnnD7jEvy3l0swzCggJg&s"
    alt="Image"
  />
</div>
