---
---
<div class="w-full h-[15%] text-center text-2xl items-center bg-card text-foreground shadow-card/40 justify-center font-bold gap-1 flex p-5 rounded-[25px] shadow-md">
  <span>Up to</span>
  <img class="h-[100px] pb-4" src="battery.png" alt="Battery icon" />
  <span>battery life</span>
</div>
