---
---
<div class="w-full cols-span-2 card overflow-hidden h-[25%] items-center justify-center text-xl font-bold gap-3 flex rounded-[25px] shadow-md text-foreground bg-card shadow-card/40">
  <img
    class="object-cover w-full h-full"
    src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/YBg8qMaoRgUKZlBg/screenshot-2024-09-15-at-2.00.28a-am-AzG7oaLQ3PhJMPV7.png"
    alt="Screenshot preview"
  />
</div>
