---
---
<div class="w-full overflow-hidden items-center text-foreground bg-card shadow-card/40 h-[25%] lg:h-[45%] justify-center text-xl font-bold flex rounded-[25px] shadow-md">
  <img
    class="object-cover h-full w-full"
    src="lappy.png"
    alt="Image"
  />
</div>
