---
---
<div class="flex gap-3 md:md-0 md:h-[20%] gap-x-2">
  <div class="lg:w-full w-[40%] items-center text-foreground bg-card shadow-card/40 overflow-hidden h-full justify-center gap-1 flex flex-col rounded-3xl shadow-md">
    <img class="object-cover h-full w-full" src="faceid.png" alt="Face ID" />
  </div>

  <div class="w-full col-span-2 flex items-center text-foreground bg-card shadow-card/40 h-full justify-center gap-5 p-5 rounded-2xl">
    <img class="object-cover h-full w-[40%]" src="ultra.png" alt="Ultra Image" />
    <img class="object-cover h-full w-[40%]" src="ultra.png" alt="Ultra Image" />
  </div>

  <div class="w-full hidden items-center text-foreground bg-card shadow-card/40 h-full justify-center gap-1 md:flex flex-col p-5 rounded-3xl">
    <span>Up to</span>
    <span class="text-4xl font-bold">2x</span>
    <span>battery life</span>
  </div>
</div>
